

:root {
  --black: #000000;
  --white: #ffffff;
  --red: #ed192d;
  --light: #e5e4e4;
}

.container {
  max-width: 100%;
  width: 100%;
  padding: 16px 96px;
}

input,
select,
textarea {
  border: 1px solid var(--light);
  padding: 8px;
  border-radius: 6px;
}

@media screen and (max-width:1199px) {
  .container {
    max-width: 1140px;
    padding: 16px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.fs-12 {
  font-size: 14px;
}



.btn-primary {
  color: #fff;
  background-color: #0087c3;
  border-color: #0087c3;
}

.bg-main {
  background: #FFCE22;
}

.bg-home {
  background: url(../public/images/cv-writting-services-provider.webp);
  background-position: center;
  background-size: cover;
}
a{
  text-decoration: none!important;
}
.mainJs {
  line-height: 1.4;
}

.btn-warning {
  color: #000;
  background-color: #ffcc1b;
  border-color: #ffcc1b;
  padding: 11px 28px;

}

.form-control {
  padding: 11px 15px;
  border-radius: 1px;

}

.form-select {
  padding: 11px 15px;
  border-radius: 1px;

}

.bg-sept {
  background: #F1F1F1;
}

.fetBox {
  border: 2px solid #0087c3;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.fetBox::after {
  content: "";
  height: 120px;
  width: 120px;
  background: linear-gradient(45deg, #0087c3, #ffcc1b);
  border-radius: 50%;
  opacity: 0.3;
  position: absolute;
  left: -20px;
  bottom: -20px;
}

.nav-pills .nav-link {
  text-align: start;
  border-radius: unset;
  font-weight: 600;
  color: #525252;
}

.nav-pills .nav-link.active {
  background-color: #FFCE22;
  color: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-pills .nav-link.active::after {

  content: "";
  width: 0;
  height: 100%;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
  border-left: 15px solid #FFCE22;
  position: absolute;
  right: -15px;


}
.vjCf{
  width: 40%;
}
.imgg{
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;

}
.bg-gra{
  background: radial-gradient(#fff,#ffcf225d);
}
.bg-gra2{
  background: radial-gradient(#fff,#0089c357);

}

.sepTop::before{
  content: "Step 1";
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  text-shadow: 2px 0 #0087c3, -2px 0 #0087c3, 0 2px #0087c3, 0 -2px #0087c3,
             1px 1px #0087c3, -1px -1px #0087c3, 1px -1px #0087c3, -1px 1px #0087c3;
             position: absolute;
             top: -37px;
             letter-spacing: 5px;
}
.sepTop2::before{
  content: "Step 2";
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  text-shadow: 2px 0 #0087c3, -2px 0 #0087c3, 0 2px #0087c3, 0 -2px #0087c3,
             1px 1px #0087c3, -1px -1px #0087c3, 1px -1px #0087c3, -1px 1px #0087c3;
             position: absolute;
             top: -37px;
             letter-spacing: 5px;

}
.sepTop3::before{
  content: "Step 3";
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  text-shadow: 2px 0 #0087c3, -2px 0 #0087c3, 0 2px #0087c3, 0 -2px #0087c3,
             1px 1px #0087c3, -1px -1px #0087c3, 1px -1px #0087c3, -1px 1px #0087c3;
             position: absolute;
             top: -37px;
             letter-spacing: 5px;

}
.accordion-button:not(.collapsed){
  background: unset;
  color: #0087c3;
}
.accordion-button:focus{
  box-shadow: unset;
}
.accordion-button{
  font-weight: bold;
}
.bg-warning{
  background: #FFCE22;
}
.footerBg{
  background: url(../public/images/best-cv-writing-services.webp);
  background-repeat: no-repeat;
  background-size: cover;

}
.footerList h4{
  position: relative;
  margin-bottom: 20px;
}
.footerList h4::after{
  content: "";
  height: 2px;
  width: 100px;
  background: linear-gradient(to Right, #fff, transparent);
  position: absolute;
  left: 0;
  bottom: -6px;

}

.navbar-toggler{
  background: unset;
}
.navbar-light .navbar-toggler{
  color: unset;
  border: unset;
  box-shadow: unset;
}
/* .vjMan .navbar-collapse{
      flex-basis: unset;
      flex-grow: unset; 
} */

.owl-carousel .owl-nav button span{
  font-size: 30px;
  height: 40px;
  width: 40px;
  background: #0087c3;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.owl-carousel .owl-nav{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.breadcrumb-item a{
  text-decoration: none;
  color: #0087c3;
}
.mainEmail{
  height: 60px;
  width: 60px;
  background-color: #0087c3;
  font-size: 25px;
  border-radius: 50%;
  color: #fff;
}
.mainPhone{
  height: 60px;
  width: 60px;
  background-color: #ffcc1b;
  font-size: 25px;
  border-radius: 50%;
  color: #000;
}
.menuMain{
  list-style: none;
  padding-left:unset;
}
.menuMain a{
  text-decoration: none;
  color: #525252;
  font-size: 15px;
  
}
.megaMenu{
  position: absolute;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
      border: 1px solid #ebebeb;
  width: 250px;
  display: none;
}
.menuMain li{
  padding: 7px 15px;
  border-bottom: 1px solid #ebebeb;
}
.menuMain li:hover{
  background: #F1F1F1;
}
.text-justify{
  text-align: justify;
}












@media (max-width: 575.98px) { 
  .m-none{
      display: none;
  }
  .topBar .col-md-6{
     justify-content: center!important;
     text-align: center;
  }
  .m-left{
      align-items: start!important;
      justify-content: start!important;
  }
  .tabgs{
      display: block!important;
    
      

  }
  .mainJs span{
      padding-left: 1rem!important;
      padding-right: 1rem!important;
  }
  .vjCf{
      display: flex;
      width: unset;
      display: flex;
      width: unset;
      flex-direction: row!important;
      flex-wrap: nowrap;
      overflow-x: auto;

  }
  .nav-pills .nav-link.active::after {
      content: "";
      width: 0;
      height: 100%;
      border-bottom: unset;
      border-left: 21px solid transparent;
      border-right: 21px solid transparent;
      border-top: 15px solid #FFCE22;
      position: absolute;
      right: unset;
  }
  .nav-pills .nav-link.active::after {
      display: none;
  }
  .nav-pills .nav-link{
      align-items: center!important;
      text-align: center;
  }
  .navbar-brand img {
      max-height: 38px;
  } 
  .btnMenu{
      margin-left: unset!important;
  }
  

}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .m-none{
      display: none;
  }
  .topBar .col-md-6{
     justify-content: center!important;
     text-align: center;
  }
  .m-left{
      align-items: start!important;
      justify-content: start!important;
  }
  .tabgs{
      display: block!important;
    
      

  }
  .vjCf{
      display: flex;
      width: unset;
      display: flex;
      width: unset;
      flex-direction: row!important;
      flex-wrap: nowrap;
      overflow-x: auto;

  }
  .nav-pills .nav-link.active::after {
      content: "";
      width: 0;
      height: 100%;
      border-bottom: unset;
      border-left: 21px solid transparent;
      border-right: 21px solid transparent;
      border-top: 15px solid #FFCE22;
      position: absolute;
      right: unset;
  }
  .nav-pills .nav-link.active::after {
      display: none;
  }
  .nav-pills .nav-link{
      align-items: center!important;
      text-align: center;
  }
  .navbar-brand img {
      max-height: 38px;
  } 
  .btnMenu{
      margin-left: unset!important;
  }
  
}

@media (min-width: 768px) and (max-width: 991.98px) { 
  .homeForm{
      margin-top: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
  
}

@media (min-width: 1200px) {
  

}
@media (min-width: 992px){
  .menuTrigger:hover .megaMenu{
            display: block;
  }
}
@media (max-width: 992px){
  .megaMenu{
      position: static;
  }
  .gulMOhar{
      align-items: start!important;
  }
}



.slick-slide{
  padding: 20px 15px;
  
}

.slick-prev::before,.slick-next::before{
  font-size: 32px!important;
color: black!important;  

}
.reviewSlide{
  height: 100%!important;
}

.listColor{
  color:#fff!important ;
}